* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.box {
  height: 260px;
  border-radius: 10px;
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}

.top {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.author .people {
  font-size: small;
  text-align: right;
}

.details {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-bottom: 10px;
}

.description {
  padding-top: 10px;
}
