* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.box {
  height: 300px;
  border-radius: 10px;
  width: 700px;
  border: 2px solid black;
}

.top {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
  background-color: blue;
}

.author .people {
  font-size: small;
  text-align: right;
}

.details {
  display: flex;
  justify-content: center;
  gap: 10px;

}
